<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <header>{% include 'navbar.html' %}</header>
        <div class="greetings">
            <h2>{% block greeting %} {% endblock %}</h2>
            <p>A place to keep track of your books, <br />and review ones you have read</p>
            <button>Join for free</button>
            <button>Log in</button>
        </div>
        <main>
            <div class="book-collection">
                <h2>Featured Books</h2>
                <div class="book-covers">
                    <div class="book-item">
                        <img src="/static/images/book_covers/gone_girl.jpg" alt="Gone Girl" draggable="false" />
                        <h3>Gone Girl</h3>
                    </div>
                    <div class="book-item">
                        <img src="/static/images/book_covers/brave_new.jpg" alt="Brave New World" draggable="false" />
                        <h3>Brave New World</h3>
                    </div>
                    <div class="book-item">
                        <img src="/static/images/book_covers/fahrenheit.jpg" alt="Fahrenheit" draggable="false" />
                        <h3>Fahrenheit 451</h3>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>{% include 'footer.html' %}</footer>
</html>
