<!-- Navigation Bar -->

<div class="nav-wrapper">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="logo" draggable="false" />
    <nav>
        <ul>
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/books">Browse Books</a>
            </li>
            <!-- Conditionally render Profile and Admin links if user is authenticated -->
            <!-- if user.is_authenticated -->
            <li>
                <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <!-- if user.is_admin -->
            <li>
                <a class="nav-link" href="/admin">Admin Panel</a>
            </li>
            <!-- endif -->
            <li>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <!--  else  -->
            <li>
                <a class="nav-link" href="/login">Login</a>
            </li>
            <!-- endif -->
        </ul>
    </nav>
</div>
